<div class="row" style="width: 100.81%;">
    <aside class="col-lg-3" style="width: 335px;"> 
        <!-- <admin-hrms-sidebar></admin-hrms-sidebar> -->
    </aside>
    <main class="col-lg-9" style="min-height: 100vh;">

        <div class="container mt-4">
            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="div-box">
                        <h3 class="User-name"><strong>HRMS</strong></h3>
                        <h4 class="designation"> <strong>Add Employee</strong>Add<span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.AddEmployee}}</span></h4>
                        <h4 class="designation"> <strong>Delete Employee</strong> Delete <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.DeleteEmployee}}</span></h4>
                        <div class="profile-details">
                            <ul>
                                <li><a routerLink="/admin/addEmployee"><i class="fas fa-home"></i> Add Employee</a></li>
                                <li><a routerLink="/admin/viewEmployee"><i class="fas fa-user"></i> View Employee</a></li>
                                <li><a routerLink="/admin/updateEmployee"><i class="fas fa-user-edit"></i> Update/Remove Employee</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            
                <div class="col-sm-6 col-md-4">
                    <div class="div-box">
                    <h3 class="User-name"><strong>Employee Name</strong></h3>
                    <h4 class="designation"> <strong>Employee Designation</strong> Designation<span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.boysDeluxeRooms}}</span></h4>
                    <h4 class="designation"> <strong>Employee Salary</strong> Salary <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.girlsDeluxeRooms}}</span></h4>
                    <div class="profile-details">
                        <ul>
                        <li><a routerLink="/admin/addEmployee"><i class="fas fa-home"></i> Add Employee </a></li>
                        <li><a routerLink="/admin/viewEmployee "><i class="fas fa-user"></i> View Employee </a></li>
                        <li><a routerLink="/admin/updateEmployee "><i class="fas fa-user-edit"></i> Update/Remove Employee </a></li>
                        </ul>
                    </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="div-box">
                    <h3 class="User-name"><strong>Add Institue</strong></h3>
                    <h3 class="User-name"><strong>Add Eudcation</strong></h3>
                    <h4 class="designation"> <strong>Add Education Start Date</strong>  <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.educationstartdate}}</span></h4>
                    <h4 class="designation"> <strong>Add Education End Date</strong>  <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.educationenddate}}</span></h4>
                    <div class="profile-details">
                        <ul>
                        <li><a routerLink="/admin/addeducation"><i class="fas fa-home"></i> Add Education</a></li>
                        <li><a routerLink="/admin/addeducationstartdate"><i class="fas fa-user"></i> Add Education Start Date</a></li>
                        <li><a routerLink="/admin/addeducationenddate"><i class="fas fa-user-edit"></i> Update/Remove </a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            
            </div>
        </div>
        
    </main>
</div>